/* CSS Variable */
:root {
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
  --lightslate: #8e8f99;
  --button-primary: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px, 2px, 2px rgba(0, 0, 0, 0.12);
}

/* CSS RESET */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* BODY */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--white);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER */

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
}

.nav-menu .page,
.contacts-menu .contact {
  font-weight: 500;
  color: var(--navyblue);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}

.nav-menu {
  margin-left: 93px;
}

.contacts-menu {
  margin-left: auto;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iris);
}

.contacts-menu .contact {
  color: var(--slate);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* LOGO */
.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.logo,
.studio {
  display: inline-block;
}

.logo {
  color: var(--iris);
}
.studio {
  color: var(--navyblue);
}

/* HERO */

.hero {
  padding: 200px 0px;
  text-align: center;
}

.bg-hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

.button.primary {
  color: var(--white);
  background-color: var(--iris);
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: var(--button-primary);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
  box-shadow: var(--box-shadow);
}

/* Benefits Section */

.benefits-icon {
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: var(--cloud);
  padding: 24px 100px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
}

.benefits .item {
  flex-basis: calc(100% / 4 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits .title {
  color: var(--navyblue);
  line-height: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
  margin-bottom: 10px;
}

.benefits .description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

/* What We Do Section */

.no-top-padding {
  padding-top: 0;
}

.what-we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.section-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Team Section */
.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 30px;
}

.team .item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding-bottom: 30px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team .name,
.team .position {
  text-align: center;
  line-height: 1.19;
}

.team .name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team .position {
  font-size: 16px;
  color: var(--slate);
  font-weight: 400;
}

.bg-team {
  background-color: var(--cloud);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--iris);
  color: var(--iris);
}

/* Customer Section */
.bg-customer {
  background-color: var(--white);
  margin-top: 140px;
}
.customers-logo {
  width: 168px;
  height: 88px;
  padding: 16px 32px;
  margin-bottom: 140px;
  margin-top: 20px;

  border-radius: 4px;
  border: 1px solid var(--lightslate);
}
.customers {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.customers-item {
  flex-basis: calc(100% / 6 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

/* Buttons Sections */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .space + .space {
  margin-left: 8px;
}

.button {
  border-color: transparent;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.button.filter {
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 22px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
  box-shadow: var(--box-shadow);
}

/* Project Content Section */

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-card {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project-card .substrate {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  background-color: var(--white);
}

.project .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--navyblue);
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* FOOTER*/

.page-footer {
  padding: 60px 0px;
}

.logo-link.footer {
  margin-bottom: 20px;
}

.page-footer.bg-footer {
  background-color: var(--navyblue);
}

.studio-2 {
  color: var(--cloud);
}

.footer-description {
  color: var(--cloud);
  font-size: 16;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 17px;
}

.social-list-description {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  margin-left: 120px;
}

.footer-social-list {
  gap: 16px;
  padding-top: 8px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--iris);
  color: var(--iris);
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.page-footer .container {
  display: flex;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-left: 120px;
  padding-top: 17px;
}
